<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CONTENT CALENDER</title>
</head>
<body>
	<h1 align="center">CONTENT CALENDER</h1>
	   <h2 align="center" style="color: black;">
        August 2024
    </h2>

	  <br />
     
    <table bgcolor="grey" align="center"
        cellspacing="21" cellpadding="21">
         
      
 
        <caption align="top">
            
        </caption>
 
       
 
        <thead>
            <tr>
              
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>sat</th>
            </tr>
        </thead>
         
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
                <td><button>1</button></td>
                <td><button>2</button></td>
          
                <td><button>3</button></td>
             </tr>
            <tr></tr>
            <tr>
                <td><button>4</button></td>
                <td><button>5</button></td>
                <td><button>6</button></td>
                <td><button>7</button></td>
                <td><button>8</button></td>
                <td><button>9</button></td>
            
                <td><button>10</button></td>
             </tr>
            <tr></tr>
            <tr>
                <td><button>11</button></td>
                <td><button>12</button></td>
                <td><button>13</button></td>
                <td><button>14</button></td>
                <td><button>15</button></td>
                <td><button>16</button></td>
            
                <td><button>17</button></td>
             </tr>
            <tr></tr>
            <tr>															
                <td><button>18</button></td>
                <td><button>19</button></td>
                <td><button>20</button></td>
                <td><button>21</button></td>
                <td><button>22</button></td>
                <td><button>23</button></td>
          
                <td><button>24</button></td>
             </tr>
            <tr></tr>
            <tr>
                <td><button>25</button></td>
                <td><button>26</button></td>
                <td><button>27</button></td>
                <td><button>28</button></td>
                <td><button>29</button></td>
                <td><button>30</button></td>
            
                <td><button>31</button></td>
             </tr>
            <tr></tr>
            <tr>
                <td><button>1</button></td>
                <td><button>2</button></td>
                <td><button>3</button></td>
                <td><button>4</button></td>
                <td><button>5</button></td>
                <td><button>6</button></td>
            </tr>
        </tbody>
    </table>
</html>